<style>
    body {
        font-size: 12px;
    }
</style>
<body>
    <!-- HEADER -->
    <h3 style="text-align: center; margin:0px;">FAKTÚRA</h3>
    <p style="float: right; margin: 0;">
    Faktúra číslo: {{ order_name }}<br/>
    </p>
    <hr />

    <!-- <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <img height="100%" src="https://cdn.shopify.com/s/files/1/0539/2859/1549/files/logo-blakc_x30@2x.png?v=1620173366"></img>
    </div> -->
    <div>
        <!-- DODAVATEL -->
        <div style="float: left; margin: 0 0 1.5em 0;">
            <h3>DODÁVATEĽ:</h3>
            <p>
                <strong>IČO:</strong> 47243171<br/>
                <strong>DIČ:</strong> 2023633271<br/>
                Nie som platiteľ DPH<br/>
                <strong>KOVLAD s.r.o.</strong><br/>
            </p>
            {{ shop.address }}<br/>
            {{ shop.city }} {{ shop.province_code }} {{ shop.zip | upcase }}<br/>
            {{ shop.country }}
    </div>

        <div style="float: right;">
            <p>
                <strong>Banka:</strong> Fio banka<br/>
                <strong>IBAN:</strong> SK04 8330 0000 0025 0166 0188<br/>
                <strong>SWIFT:</strong> FIOZSKBAXXX<br/>
                <strong>Variabilný symbol:</strong> {{ order_number }}<br/>
                <strong>Číslo:</strong> +421 903 500 649<br/>
                <strong>Web:</strong> www.cbd4life.sk<br/>
                <strong>E-mail:</strong> cbd4lifesk@gmail.com
            </p>

        </div>
    </div>
    <hr/>
    <!-- ODOBERATEL -->
    {% if shipping_address %}
    <h3 style="margin: 0 0 1em 0;">ODBERATEĽ:</h3>
    <div>
        <div style="margin: 0 0 1em 0; float:left;">
        <strong>{{ shipping_address.name }}</strong><br/>
        {% if shipping_address.company %}
            {{ shipping_address.company }}<br/>
        {% endif %}
        {{ shipping_address.street }}<br/>
        {{ shipping_address.city }}
        {{ shipping_address.province_code }}
        {{ shipping_address.zip | upcase }}<br/>
        {{ shipping_address.country }}
        </div>
        <div style="float: right;">
            <p>
                <strong>Konečný príjemca:</strong> {{ shipping_address.name }}<br/>
                {% if shipping_address.company %}
                <strong>Konečný príjemca:</strong> {{ shipping_address.company }}<br/>
                {% endif %}
                <strong>Miesto určenia:</strong> {{ shipping_address.city }}
            </p>
        </div>
    </div>
    {% endif %}

    <hr />
    <!-- DATUMY -->
        <p>
            <strong>Dátum vyhotovenia: </strong>{{ created_at | date: "%d.%m.%Y" }}<br/>
            {% assign date = created_at | date: '%s' %}
            {% assign seconds = 7 | times: 24 | times: 60 | times: 60 %}
            <strong>Dátum splatnosti: </strong>{{ date | date: "%s" | plus: seconds | date: "%d.%m.%Y" }}<br/>
            <strong>Dátum dodania: </strong>{{ created_at | date: "%d.%m.%Y" }}<br/>
            <strong>Spôsob platby: </strong> {% for transaction in transactions %}{{ transaction.gateway | payment_method }}{% endfor %}
        </p>  
    <!-- PRODUKT INFO -->
    <h3 style="margin: 0 0 1em 0;">Podobnosti o produktoch</h3>
    
    <table class="table-tabular" style="margin: 0 0 1.5em 0;">
        <thead>
        <tr>
            <th>NÁZOV</th>
            <th>MNOŽSTVO</th>
            <th>JEDN. CENA</th>
            <th>CENA bez DPH</th>
            <th>ZĽAVA</th>
            <th>DPH</th>
            {% comment %}
            <td>
                {% if line_item.tax_lines %}
                {% for tax_line in line_item.tax_lines %}
                    {{ tax_line.price | money }} {{ tax_line.title }}<br/>
                {% endfor %}
                {% endif %}
            </td>
            {% endcomment %}
            <th>SPOLU s DPH</th>
        </tr>
        </thead>
        <tbody>
        {% for line_item in line_items %}
            <tr>
                <td><b>{{ line_item.title }}</b></td>
                <td>{{ line_item.quantity }} ks</td>
            <!--
            <td>
                {% if line_item.tax_lines %}
                {% for tax_line in line_item.tax_lines %}
                    {{ tax_line.price | money }} {{ tax_line.title }}<br/>
                {% endfor %}
                {% endif %}
            </td> -->
            {% comment %} <td>{{ line_item.price | money }}</td> {% endcomment %}
            {% comment %} <td>{{ original_price | money }}</td> {% endcomment %}
            {% if line_item.tax_lines %}
                {% for tax_line in line_item.tax_lines %}
                <td>{{ line_item.price | minus: tax_line.price | money }}</td>
                <td>{{ line_item.price | minus: tax_line.price | money }}</td>
                {% endfor %}
                {% comment %} {% else %}
                <td>{{ original_price | money }}</td> {% endcomment %}
            {% endif %}
            <td>{{ line_item.total_discount | money }}</td>
            {% if line_item.tax_lines %}
                {% for tax_line in line_item.tax_lines %}
                <td>{{ tax_line.rate | times: 100 }}%</td>
                {% endfor %}
            {% endif %}
            <td>
              {% if line_item.original_price != line_item.price %}
              <s>{{ line_item.original_price | money }}</s>
              {% endif %}
              {{ line_item.price | money }}
            </td>
            </tr>
        {% endfor %}
        </tbody>
        <p style="margin:0;color: #565656;">Všetky produkty sú považované za zberateľské predmety, ktoré nie sú určené na vnútorné aplikovanie.</p>
    </table>
    <!-- PRODUKT INFO VIAC PLATBÁCH -->
    {% if transactions.size > 1 %}
        <h3 style="margin: 0 0 1em 0;">Transaction Details</h3>
        <table class="table-tabular" style="margin: 0 0 1.5em 0;">
        <thead>
            <tr>
            <th>Typ</th>
            <th>Počet</th>
            <th>Druh</th>
            <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.gateway | payment_method }}</td>
                <td>{{ transaction.amount | money }}</td>
                <td>{{ transaction.kind }}</td>
                <td>{{ transaction.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    {% endif %}
    
    <h3 style="margin: 0 0 1em 0;">Detaily o platbe</h3>
    
    <table class="table-tabular" style="margin: 0 0 1.5em 0;">
        <tr>
        <td>Medzisúčet:</td>
        <td>{{ subtotal_price | money }}</td>
        </tr>
        {% for discount in discounts %}
        <tr>
        <td>Zľavový kupón "{{ discount.code }}"</td>
        <td>{{ discount.savings | money }}</td>
        </tr>
        {% endfor %}
        {% if show_line_item_taxes %}  
        <tr>
        <td>DPH:</td>
        <td>{{ tax_price | money }}</td>
        </tr>
        {% endif %}
        {% if shipping_address %}
        <tr>
            <td>Doprava:</td>
            <td>{{ shipping_price | money }}</td>
        </tr>
        {% endif %}
        <tr>
        <td><strong>Spolu:</strong></td>
        <td style="border: solid 2px black"><strong>{{ total_price | money }}</strong></td>
        </tr>
        {% if total_paid != total_price %}
        <tr>
            <td><strong>Uhradená suma:</strong></td>
            <td><strong>{{ total_paid | money }}</strong></td>
        </tr>
        <tr>
            <td><strong>CELKOM K ÚHRADE:</strong></td>
            <td><strong>{{ total_price | minus: total_paid | money }}</strong></td>
        </tr>
        {% endif %}
    </table>
    
    {% if note %}
        <h3 style="margin: 0 0 1em 0;">Poznámka</h3>
        <p>{{ note }}</p>
    {% endif %}
    

    
    <p>V prípade otázok nás kontaktujete na <u>{{ shop.email }}</u></p>
    <p style="color: #565656">Spoločnosť je zapísaná v Obchodnom registri Okresného súdu Banská Bystrica, oddiel Sro, vložka č. 23228/S</p>
  
</body>